
{ 
  "env":{
    "prod":{
      "presets": [ "@wordpress/default" ],
      "ignore": [
        "src/dev"
      ]
    },
    "dev":{
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}